::-webkit-scrollbar {
    display: none;
}

.chatbar{
    background: rgb(14, 14, 14);
    height: 100%;
    color: rgb(227, 227, 227);
    height: 100vh;
    overflow: hidden;
}
.header{
    color:#6e1bc7;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    position: sticky;
}

.user{
    margin-top: 30px;
    margin-left: 40px;
    font-size: 15px;
    height: 75vh;
    overflow-y: scroll;
}

.user p{
    margin-bottom: 10px;
    border: 1px solid rgba(30, 30, 30, 1);
    background: #521091;
    padding: 10px 20px;
    border-radius: 10px;
}

.userCount{
    color: rgb(255, 255, 255);
    margin-left: 20px;
}



